<ion-header>
  <ion-toolbar>
    <ion-title>系统设置</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">{{sysInfo.WelcomeText}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label>接口地址</ion-label>
      <ion-button fill="clear" slot="end" (click)="onApiTest()">测试</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-label>*</ion-label>
        <ion-input style="float:left" required type="text" placeholder="请输入接口地址" [(ngModel)]="sysInfo.ApiRootUrl"></ion-input>
      </ion-item>
      <!-- <ion-badge style="float:left">*</ion-badge> -->

    </ion-card-content>
  </ion-card>


  <div padding-top></div>
  <ion-button expand="full" (click)="onSave()">保存</ion-button>
  <ion-button expand="full" (click)="onDoLogin()">{{sysInfo.BtnLoginText}}</ion-button>
</ion-content>